 ul{
    display: flex;
    font-size: 1.25;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 10px;
    justify-content: center;
 }

 .flex{
    display: flex;
 }

 .justify-center{
    justify-content: center;
 }

 .direction{
   flex-direction: column;
   gap: 20px;
 }
 
