.editor-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.canvas-editor{
    padding-inline: 5rem;
    padding-block: 1.25rem;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 5px;
    
}

.canvas-editor input{
   padding: 1em;
    border-radius: 20px;
    font-size: inherit;
    background-color: transparent;
    border: solid white;

}

.tools{
    gap: 20px;
    justify-content: center;
    margin-block-start: 0.5em;
}

.advance-tools {
    gap: 20px;
}


.canvas-container{
    min-width: 50vw; 

}

.canvas{
    background-color: aliceblue;
    
}
