.editor-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
}

.canvas-editor{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-inline: 1.25rem;
    padding-block: 1.25rem;
    border: 2px solid white;
    border-radius: 5px;
    
}

.canvas-editor input{
    padding: 1em;
    border-radius: 20px;
    font-size: 1.25;
    background-color: transparent;
    border: solid white;

}

.tools{
    gap: 20px;
    justify-content: center;
    margin-block-start: 0.5em;
}

.advance-tools {
    flex-wrap: wrap;
    gap: 20px;
}


.canvas-container{
   max-width: 400px; 
}

.canvas:hover{
    cursor: pointer;
}

.font > option{
    text-transform: uppercase;
    background-color: var(--clr-primary--1);

}

.advance-tools .color{
    position: relative;
    height: 50px;
    width: 50px;
}

.advance-tools .color::after{
    content: '🎨';
    position: absolute;
    top: 6px;
    left: 4px;
    font-size: 25px;
} 