.search-img{ 
    flex-direction: column;
    /* align-items: center; */
    padding-block: 1.25em;
    padding-inline: 10px;
}

.gallery-btn{
    border: none;
    padding: 0;
}

.search-gallery input {
    width: 100%;
    padding: 1em;
    border-radius:1em;
    font-size: inherit;
    border: none;
}

.gallery-photo{
    display:grid ;
    grid-template-columns: 
    repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; 
    padding-inline: 50px;
}

.filter-btn{
    gap: 10px;
}



.saved-section{
    display:grid ;
    grid-template-columns: 
    repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; 
    padding-inline: 50px;
    margin-top: 1rem;
    justify-items: center;
    align-items: center;
}
 

