
.gallery{
    padding: 1.25rem;
}


.search-img{ 
    flex-direction: column;
    gap: 5px;
    padding-block: 1.25em;
    padding-inline: 1.25em;
    font-size: 1rem;
}

.gallery-btn{
    border: none;
    padding: 0;

}

.search-gallery {
    padding: 1em;
    border-radius: 20px;
    font-size: inherit;
    background-color: transparent;
    border: solid white;
}


.gallery-photo{
    display:grid ;
    gap: 10px; 
    padding-inline: 1rem;

}




