.search-img {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 1em;
  gap: 5px;
}

.search-gallery input {
  width: 80vw;
  padding: 1rem;
  border-radius: 1em;
  font-size: 1rem;
  border: none;
}

.filter-btn {
  justify-content: center;
  font-size: 1rem;
}

.gallery-btn {
  border: none;
  padding: 0;
}

.gallery-photo {
  display: grid;
  grid-template-columns: max(300px);
  gap: 20px;
  padding-inline: 50px;
}

.filter-btn {
  gap: 10px;
}

.saved-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding-inline: 50px;
  margin-top: 1rem;
  justify-items: start;
  align-items: center;
}

.saved-btn {
  font-size: 0.8em;
  padding: 0.3em 0.5em;
}
