header{
    display: flex;
    gap: 10px;
    justify-content:space-between;
    align-items: center;
    background-color: antiquewhite;
    padding: 1.25em;
    margin-bottom: 1em;
  
}

header>* button{
    background-color: antiquewhite;
    border: solid white;
}