@media (max-width: 640px) {
  .main-header .main-nav {
    position: fixed;
    top: 0;
    right: 0;

    flex-direction: column;

    gap: 10px;
    height: 100vh;

    background-color: var(--clr-primary--1);
    border-inline-start: 1px solid #ccc;
    min-width: 200px;
    transform: translateX(100%);
    transition: transform 0.7s;
  }

  .main-nav button {
    border: none;
    border-radius: 0;
    border-block-end: 1px solid #ccc;
    padding: 1em;
    justify-content: center;
  }

  .main-nav button:hover {
    color: black;
  }

  body.menu-open .main-nav {
    transform: translateX(0);
  }
}

@media (min-width: 640px) {
  .btn-toggle {
    display: none;
  }

  .main-nav button {
    border: none;
  }

  header {
    justify-content: space-between;
    gap: 10px;
    padding-inline: 2em;
    padding-block: 1em;
    border-radius: 0.625rem;
    font-size: 1.25rem;
  }

  .gallery-photo {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }

  .search-img {
    width: 100%;
    flex-direction: column;
    padding-block: 1.25em;
    padding-inline: 50px;
    gap: 10px;
  }

  .gallery-photo {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .canvas {
    width: 400px;
  }
  .canvas-container {
    min-width: 400px;
  }

  .canvas-editor {
    justify-content: space-evenly;
    font-size: 1.375rem;
    padding-inline: 1.5em;
  }

  .canvas-editor .btn {
    padding-inline: 1.5rem;
    padding-block: 1.5rem;
    font-size: 22px;
    font-weight: bold;
  }
  .canvas-editor input:first-child {
    padding: 1em;
    font-size: 1.25rem;
    font-size: 22px;
  }

  .advance-tools .color {
    padding-inline: 2.2rem;
    padding-block: 2.5rem;
  }
}

@media (min-width: 900px) {
  .editor-section {
    flex-direction: row;
    justify-content: center;
  }
  .advance-tools {
    width: 100%;
  }

  header .logo {
    font-weight: bolder;
    font-size: 1.875rem;
  }
  .gallery-photo {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 22px;
  }

  .gallery-photo {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
  }

  .search-gallery input {
    width: 50vw;
  }

  .search-img {
    flex-direction: row;
    justify-content: space-between;
  }

  .filter-btn {
    justify-content: space-between;
    gap: 50px;
    background-color: transparent;
    border-radius: 20px;
    font-size: inherit;
  }

  .canvas {
    width: 500px;
  }
  .canvas-container {
    min-width: 500px;
  }
}
